<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Artiles</title>
    </head>
    <body>
        <h1>Article list</h>
        <div class="articles">
            {% for article in articles%}
                <div class="article">
                    <h2><a href="#">{{article.title}}</a></h2>
                    <p>{{article.body}}</p>
                    <p>{{article.date}}</p>
                </div>
            {% endfor %}
        </div>
    </body>
</html>
